.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grafik {
  border: 2px black solid;
  position: relative;
  height: 75vh;
  margin-top: 40px;
}
.yOsa {
  position: absolute;
  height: 100%;
  left: 50%;
  border-left: 1px black solid;
}
.xOsa {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 0;
  border-bottom: 1px black solid;
}
.tacka {
  position: absolute;
  width: 3px;
  height: 1px;
  border: 2px red solid;
}
